@media only screen and (min-width:200px) and (max-width:575px){
    .main{
        width: 100%;
    }
    ul>li{
        flex-basis: 30%;
        height: 60px;
        font-size: 16px;
        margin: 1%;
        background: rgba(165, 42, 42, 0.798);
        font-weight: 600;
        padding: 18px 10px;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #000;
        text-align: center;
    }
    .main input{
        width: 100%;
        
    }
    body{
        margin-top: 15px;
        padding: 10px;
    }
}